body {
  background-color: #f9f2f2; }

.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px; }

.main {
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid red;*/ }

.hotel-list {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-hotel {
  display: flex;
  justify-content: space-between;
  flex: 1 300px;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: white; }

.card-hotel:hover {
  border-color: black; }

.btn-reservar {
  width: 98%;
  margin-top: 2px; }

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer {
  background-color: yellow; }

.oi {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
